
<form [formGroup] = "FormGroupManagementPage" class="gestion-container">

    <div class="form-container">
      <div class="form-item">
      <label class="label-item" for="">Name</label>
      <input class="input-item" [(ngModel)]="inputName" type="text" formControlName="name">
    </div>
    <div class="form-item"> 
      <label class="label-item" for="">Description</label>
      <input class="input-item" type="text" [(ngModel)]="description" formControlName="description">
    </div>
    <div class="form-item"> 
      <label class="label-item" for="">Price</label>
      <input class="input-item" type="number" [(ngModel)]="price" formControlName="price">
    </div>
    <div class="form-item">
      <label class="label-item" for="">Image</label>
      <input class="input-item" type="text" [(ngModel)]="imgUrl" formControlName="image">
    </div>
    <div class="form-item">
      <label class="label-item" for="">Stars</label>
      <input class="input-item" type="number" [(ngModel)]="stars" formControlName="stars">
    </div>
  <button class="gestion-btn" (click)="addProduct()">Save</button>

  <div class="render-form">
    <p>{{inputName}} {{price}}</p>
    <img class="product-img" src={{imgUrl}}/>
    <p>{{description}}</p>
    <p>{{stars}}</p>
  </div>

  </div>
  </form>





